/*body css*/
body{
    background-color: rgb(226, 226, 65);
}
/*body css ends*/
#form{
    float: right;
}
/* NAVIGATION BAR CSS*/
nav>ul{
    list-style-type: none; /*removing of bullet points from the nav*/
    margin: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li{
    float:left;  /*floats each individual list item to the left*/
}
nav>ul>li a{       /* removes the underlined, centers the text and gives it some padding*/
    display: block;
    color: black;
    text-align: center;
    padding: 10px 65px;
    text-decoration: none;
    font-size: large;
}
li a :hover{     /* hover effect*/
    color: #363636
}
/*body*/

/*
* Title: How to create a transparent image text. Add css
* Author: W3schools
* Date: 2021
* Code version: 2.0
* Availability: https://w3schools.com/howto/howto_css_image_transparent.asp 
 */ 
 
.container {
    position: relative;
    max-width: 1500px; /* Maximum width */
    margin: 0 auto; /* Center it */
    
}
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 97%; /* Full width */
    padding: 20px; /* Some padding */
   
}

.grid-container .grid-100{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*choosing a favourite font*/
}