/*body css*/
body{
    background-color: rgb(226, 226, 65);
}
/*body css ends*/
#form{
    float: right;
}
/* NAVIGATION BAR CSS*/
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li{
    float:left;
}
nav>ul>li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 65px;
    text-decoration: none;
    font-size: large;
}
li a :hover{
    color: #363636
}
#center2{
    border: solid 1px rgb(27, 27, 27);
    width: 1315px;
    height: 70px;
    margin:10px;
    margin-top: 10px;
    color: rgb(92, 91, 78);
    text-align: center;
}
/*body*/
.container {
    position: relative;
    max-width: 1500px; /* Maximum width */
    margin: 0 auto; /* Center it */
    opacity: 0.7;
}
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    max-width: 1700px; /* Full width */
    width: 1280px;
    height: 907px;
  
    padding-top: 0px; /* Some padding */
    padding-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  /*choosing a favourite font*/
    
   
}
main{
    text-align: left;
}

/*footer styling*/

footer{
    background-color: white;
    height: 400px;
}

.footerlogo{
    margin-top: 30px;
    text-align: left;
    padding-top: 20px;
    padding-left:10px;
}

/*
* Title: How to- social media  buttons .CSS
* Author: W3schools
* Date: 2021
* Code version: 2.0
* Availability: https://w3schools.com/howto/howto_css_social_media_buttons.asp 
 */ 

/* Style all font awesome icons */
.fa {
    padding: 120px;
    padding-top: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.2;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
  
    color:black;
  }
  
  /* Twitter */
  .fa-twitter {
   
    color:black;
  }
  /*instagram*/
  .fa-instagram{
      color: black;
  }

  /*linkedin*/
  .fa-linkedin{
      color: black;
  }

  .grid-container8 .copyright{
 padding-bottom: 10px;
    text-align: center;

  }
/*removing the dots in the unordered list*/
  .grid-33>ul{
    list-style-type:none;

  }

  /*footer ends*/
